div{
    padding: 5px;
}
input{
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    border: none;
}
input:focus{
    font-size: 18px;
}
.calculation{
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.164);
}

/* for message  */
.msg-error{
    font-size: 1rem;
}
.msg-error::after{
    content: 'Ops! Only Positive Number';
    color: red;
    font-size: 16px;
}

/* for error */
.error {
    border: 2px solid red;
    background-color: rgba(255, 153, 153, 0.507);
}


/* succes  */
.done {
    border: 2px solid green;
    background-color: rgba(154, 250, 154, 0.397);
}

/* for enougt money  */
#enoughMsg{
    text-align: center;
    display: none;
}
#enoughMsg::after{
    content: "Something is wrong happand. It can be don't have enough money or wrong input";
    color: rgba(255, 0, 0, 0.767);
    font-size: 18px;
    font-weight: bold;
}
#save-error{
    display: none;
    color: red;
    font-weight: bold;
    align-self: center;
}
/* all button 
 */
#calculate,#saveCal {
     font-size: 16px;
 }